body {
	padding: 0;
	margin: 0;
    background-color: #111213;
    font-size: 100%;
}
.container {
	position: relative;
	margin-top: 100px;
}
.container img {
	display: block;
	width: 100%;
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: #025955;
}
nav .logo {
	float: left;
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 36px;
	color: #fde8cd;
    font-family: 'Roboto Condensed', sans-serif;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 55%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fde8cd;
	
}
#nav-toggle {
	position: relative;
	top: -100px;
}
nav .hamburger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .hamburger .line {
	width: 30px;
	height: 5px;
	background-color: #fde8cd;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		
		width: auto;
		justify-content: center;
	}
	nav .links {
		
		position: fixed;
		z-index: 10;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.6);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .4s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .hamburger {
		display: block;
	}
		
}

.flex-container{
    padding-top: 200px;
    position: relative;
    justify-content: center;
    
}

#input-form {
    position: relative;
   
    text-align: center;
    
}

.cards {
    max-width: 50%;
    min-width: 25%;
    height: auto;
    background: #272d2e;
    object-fit: contain;
}


 #card-list {
     text-align: center;
     height: auto;
     max-width: 100%;
     min-width: 50%;
 }

.card-frame {
    font-size: min(3vw);
    margin-left: 200px;
    margin-right: 200px;
    margin-top: auto;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #fde8cd;
    border-style: solid;
}
p {
    margin-left: auto;
    margin-right: auto;
}
.about {
    font-size: min(16px);
    font-family: 'Montserrat', sans-serif;
    color: #fde8cd;
}
.about-heading {
    font-size: 36px;
    text-align: center;
	color: #5f939a;
    font-family: 'Roboto Condensed', sans-serif;
}
.about-button {
    position: realtive;
    text-align: center;
}
.btn {
    background-color: #00917c; 
    border: none;
    color: fde8cd;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fde8cd;
    
}
#clear {
    background-color: #687980; 
}

#deleteList {
    background-color: #810000;
}
 li {
     list-style: none;
 }
