body {
	padding: 0;
	margin: 0;
    background-color: #111213;
    font-size: 100%;
}
.container {
	position: relative;
	margin-top: 100px;
}
.container img {
	display: block;
	width: 100%;
}
/*drop down based hamburger on https://codepen.io/MinzCode/pen/bGexzXw */ 
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: #025955;
}
nav .logo {
	float: left;
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 36px;
	color: #fde8cd;
    font-family: 'Roboto Condensed', sans-serif;
}
nav .nav-options {
	float: right;
	padding: 0;
	margin: 0;
	width: 55%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}
nav .nav-options li {
	list-style: none;
}
nav .nav-options a {
	display: block;
	padding: 1em;
	font-size: 16px;
	
	color: #fde8cd;
	
}
#nav-toggle {
	position: relative;
	top: -100px;
}
nav .hamburger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	
}
nav .hamburger .line {
	width: 25px;
	height: 5px;
	background-color: #fde8cd;
	margin: 5px;
	border-radius: 3px;
	
}
@media screen and (max-width: 768px) {
	nav .logo {
		width: auto;
		justify-content: center;
	}
	nav .nav-options {
		
		position: fixed;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: row;
		background-color: rgba(0,0,0,1);
		overflow: hidden;
		box-sizing: border-box;
		
	}
	nav .nav-options a {
		font-size: 24px;
	}
	nav :checked ~ .nav-options {
		bottom: 0;
	}
	nav .hamburger {
		display: block;
	}

    form .input-box {
        max-width: 100%;
    }
		
}

.flex-container{
    padding-top: 200px;
    position: relative;
    justify-content: center;
    
}

#input-form {
    position: relative;
   
    text-align: center;
    
}

.cards {
    max-width: 50%;
    min-width: 25%;
    height: auto;
    background: #272d2e;
    object-fit: contain;
    
}


 #card-list {
     text-align: center;
     height: auto;
     max-width: 100%;
     min-width: 50%;
 }

.card-frame {
    font-size: min(3vw);
    margin-left: 200px;
    margin-right: 200px;
    margin-top: auto;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #fde8cd;
    border-style: solid;
}
p {
    margin-left: auto;
    margin-right: auto;
}
.about {
    font-size: min(20px);
    font-family: 'Montserrat', sans-serif;
    color: #fde8cd;
}
.about-heading {
    font-size: 36px;
    text-align: center;
	color: #5f939a;
    font-family: 'Roboto Condensed', sans-serif;
}
.about-button {
    position: realtive;
    text-align: center;
}
.btn {
    background-color: #00917c; 
    border: none;
    color: #fde8cd;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fde8cd;
    
}
#clear {
    background-color: #687980; 
}

#deleteList {
    background-color: #810000;
}
 li {
     list-style: none;
 }

 .about-text {
     position: relative;
     text-align: left;
     max-width: auto;
     padding-left: 250px;
     padding-right: 250px;
 }

 .input-box {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    
 }

 .btn:hover {
     transform: scale(1.1);

 }

 
